<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Liste des Projets</title>
    [[ template "layouts/include-css.html" ]]
</head>
<body>
  [[ template "layouts/topbar.html" ]]
  <div class="container-fluid">
    <div class="row-fluid panel" style="padding:15px">
      <br/>
      <h5>Créer un événement</h5>
      <form method="POST" action="/admin/calendars/add">
	<div class="form-group">
	  <label for="event_title">Nom</label>
	  <input type="text" class="form-control" id="event_title" title="title" placeholder="Nom">
	</div>
	<div class="form-group">
	  <label for="event_description">Description</label>
	  <input type="text" class="form-control" id="event_description" name="description" placeholder="Description">
	</div>
	<div class="form-group">
	  <label for="event_begin">Begin</label>
	  <div id="datetime_begin" class="input-append date">
	    <input type="text" class="add-on form-control" id="event_begin" name="begin" placeholder="Begin">
	</div>
	</div>
	<div class="form-group">
	  <label for="event_end">End</label>
	  <div id="datetime_end" class="input-append date">
	    <input  data-format="dd/MM/yyyy hh:mm:ss" type="text" class="add-on form-control" id="event_end" name="end" placeholder="End">
	  </div>
	</div>
	<div class="form-group">
	  <label for="event_location">Location</label>
	  <input type="text" class="form-control" id="event_location" name="location" placeholder="Location">
	</div>

	<button type="submit" class="btn btn-success">Créer l'événement</button>
      </form>

      <h5>Événements</h5>
      <table class="table">
	<tr>
	  <th>Titre</th>
	  <th>Début</th>
	  <th>Fin</th>
	</tr>
	[[ range .Calendar.Events ]]
	<tr>
	  <td>[[ .Title ]]</td>
	  <td>[[ .Begin ]]</td>
	  <td>[[ .End ]]</td>
	</tr>
	[[ end ]]
      </table>
    </div>
  </div>
</body>
[[ template "layouts/include-js.html" ]]

<script type="text/javascript">
  $(function() {
  $('#datetime_begin').datetimepicker({
    format: 'dd/MM/yyyy hh:mm:ss',
    language: 'fr-FR'
  });

  $('#datetime_end').datetimepicker({
    format: 'dd/MM/yyyy hh:mm:ss',
    language: 'fr-FR'
  });
  });
</script>

</html>
