<!DOCTYPE html>
<html>
<head lang="en">
    <title>[[ i18n .Lang "TITLE" ]]</title>
    [[ template "layouts/include-css.html" ]]
</head>
<body class="padding login-page">
<div class="container">

    <form class="form-signin text-center" method="post" action="/forgot">
        <a href="/">
            <h1>
                <img width="250px" src="http://epitech.github.io/hub/img/hub-white-1600.png">
            </h1>
        </a>

        <p class="white">
            Si vous etes un etudiant, n'essayez pas de changer votre mot de passe, il sera remis a sa valeur initial
            toutes les douze heures.
        </p>
        <input type="text" name="email" class="form-control" placeholder="Email" required="" autofocus="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Envoyer
        </button>
    </form>
    [[ if .flash.error ]]
    <div class="alert alert-danger alert-dismissible" role="alert">[[ .flash.error ]]</div>
    [[ end ]]
    [[ if .flash.success ]]
    <div class="alert alert-success alert-dismissible" role="alert">[[ .flash.success ]]</div>
    [[ end ]]

</div>
</body>
</html>
