<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Hub Innov' Intra</title>
    {{ template "layouts/include-css.html" }}
</head>

<body>
{{ template "layouts/topbar.html" }}

<div class="row">
    <div class="col-sm-10 col-xs-10 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-header text-center"><h3>Bienvenue sur l'intranet du Hub</h3></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-xs-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-header text-center"><h3>Le Hub en quelques mots</h3></div>
                <h5 class="text-center">
                    Le Hub est le lieu privilégié d'Epitech pour expérimenter de nouvelles technologies,
                    porter des projets perilleux, innovants, délirants, être accompagné, rencontrer des entreprises...
                    <br/><br/>
                    Le Hub a pour vocation d'aider les étudiants à mener à bien leurs initiatives personnelles.
                    Il prends la forme d'un lieu ou se rencontre tous les étudiants désireux d'aller plus loin,
                    instancié localement dans chaque Epitech.
                    <br/><br/>
                    Chaque localité a ses propres événements Hub, son matériel à disposition pour, les étudiants,
                    et ses animateurs.
                    <br/><br/>
                    Les "tech'mentors" sont là pour accompagner les étudiants sur des problématiques complexes,
                    les aider à voir plus loin, et à fonder l'interêt de leur projet.
                    <br/><br/>
                    Les "assistants" sont là pour aider les étudiants à formaliser leur projet, à l'organiser et à interagir avec le Hub.
                    Ils animent également le Hub par l'organisation de conférences et d'ateliers.
                </h5>
            </div>
    </div>
</div>


</body>
{{ template "layouts/include-js.html" }}
</html>
