<!DOCTYPE html>
<html>
<head lang="en">
    <title>Staff</title>
    [[ template "layouts/include-css.html" ]]
</head>
<body>
[[ template "layouts/topbar.html" . ]]

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Staff</h4>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <td></td>
                        <td>Login</td>
                        <td>Nom</td>
                        <td>Email</td>
                        <td>Promotion</td>
                        <td>Planning</td>
                        <td>Ville</td>
                        [[ if .UserLogged.IsManager ]]
                        <td>Téléphone</td>
                        <td>Projets</td>
                        [[ end ]]
                    </tr>
                    </thead>
                    [[ range $element := .Managers ]]
                    <tr>
                        <td><img onerror="errorImage(this)" class="img-responsive size" src="[[ $element.Picture ]]"></td>
                        <td><a href="/users/[[ $element.Login ]]">[[ html2str $element.Login ]]</a></td>
                        <td>[[ html2str $element.Name ]]</td>
                        <td><a href="mailto:[[ $element.Email ]]">[[ html2str $element.Email ]]</a></td>
                        <td>[[ $element.Promotion.Name ]]</td>
                        <td>[[ $element.DaysWorked ]]</td>
                        <td>[[ $element.City.Name ]]</td>
                        [[ if $.UserLogged.IsManager ]]
                        <td>[[ html2str $element.PhoneNumber ]]</td>
                        <td> [[ len $element.ProjectsManaged ]]</td>
                        [[ end ]]
                    </tr>
                    [[ end ]]
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>