<script src="/static/js/vendor/jquery-1.11.3.min.js"></script>
<script src="/static/js/vendor/jquery.validate.min.js"></script>
<script src="/static/js/vendor/additional-methods.min.js"></script>
<script src="/static/js/vendor/jquery-ui.min.js"></script>
<script src="/static/js/vendor/select2.min.js"></script>
<script src="/static/js/vendor/bootstrap.min.js"></script>
<script src="/static/js/vendor/scripts.js"></script>
<script src="/static/js/vendor/http.js"></script>
<script src="/static/js/vendor/showdown.min.js"></script>
<script src="/static/js/vendor/bootstrap-datetimepicker.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.dropdown-toggle').dropdown();
    })
</script>
