<script src="/static/js/jquery-1.11.3.min.js" type="application/javascript"></script>
<script src="/static/js/jquery-ui.min.js" type="application/javascript"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/taggle.min.js" type="application/javascript"></script>
<script src="/static/js/scripts.js" type="application/javascript"></script>
<script src="/static/js/http.js" type="application/javascript"></script>

<script type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>