<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/taggle.min.js"></script>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/http.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/showdown.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
