[[ template "layouts/include-js.html" ]]

<nav class="navbar navbar-default" style="margin-top: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/home" class="navbar-brand">Innovation Hub</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar blue"></span>
                <span class="icon-bar blue"></span>
                <span class="icon-bar blue"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="collapse-navbar">
            <ul id="nav" class="nav navbar-nav navbar-left">
                <!--<li id="">-->
                    <!--<a href="#" role="button" data-toggle="modal">Événements</a>-->
                <!--</li>-->
                <li id="projects">
                    <a href="/projects?page=1&limit=15" role="button" data-toggle="modal">Projets</a>
                </li>
                <li id="students">
                    <a href="/students?page=1&limit=25" role="button" data-toggle="modal">Étudiants</a>
                </li>
                <li id="staff">
                    <a href="/staff" role="button" data-toggle="modal">Staff</a>
                </li>
                [[ if .UserLogged.IsPedago ]]
                <li id="pedago">
                    <a href="/pedago/validation/indeterminate" title="Validation pédagogique" data-toggle="tooltip"
                       data-placement="bottom">
                        Validation
                    </a>
                </li>
                [[ end ]]

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/me" title="Profil" data-toggle="tooltip" data-placement="bottom">
                    <img onerror="errorImage(this)"
                         style="-webkit-border-radius: 150px;-moz-border-radius: 150px;border-radius: 150px;"
                         width="14px" src="[[ .UserLogged.Picture ]]">
                </a></li>
                [[ if .UserLogged.IsAdmin ]]
                <li><a href="/admin" title="Admin" data-toggle="tooltip" data-placement="bottom">
                    <span class="glyphicon glyphicon-star"></span>
                </a></li>
                [[ end ]]
                <li><a href="/logout" class="off" title="Deconnexion"><i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
