
<nav class="navbar header">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/home" class="navbar-brand">Innovation Hub</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <ul class="nav navbar-nav navbar-left">
                <li id="hub" onclick="switchActiveTab()" class="active">
                    <a href="/home">Le Hub</a>
                </li>
                <li id="events" onclick="switchActiveTab()">
                    <a href="#" role="button" data-toggle="modal">Evenements</a>
                </li>
                <li id="projects" onclick="switchActiveTab()">
                    <a href="/projects" role="button" data-toggle="modal">Projets</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                <li><a href="#" class="off"><i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
    </div>
</nav>