<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ajouter un Projet</title>

</head>
<body>
<form method="post" action="/projects/add">
    <label>Name</label>
    <input name="name" type="text">
    <label>Courte description</label>
    <textarea rows="2" name="shortDescription"></textarea>
    <label>Assigner un manager</label>
    <select name="managerLogin">
        <option>--</option>
        {{ range $element := .Managers }}
        <option>{{ $element.Login }}</option>
        {{ end }}
    </select>

    <!--<div id="tags"></div>-->
    <label>Status du projet</label>
    <select name="status">
        {{ range $element := .Status }}
        <option value="{{ $element }}">{{ i18n $.Lang $element }}</option>
        {{ end }}
    </select>
    <input id="membersId" type="hidden" name="membersId">
    <input type="text" id="autocomplete"/>
    <ul>

    </ul>
    <label>Logins</label>
    <ul id="logins">

    </ul>
    <button type="submit">Creer le projet</button>
</form>
{{ .flash.error }}

</body>
{{ template "layouts/include-js.html" }}

<script type="application/javascript">
    $(document).ready(start);

    function start() {
//        new Taggle('tags');

        $('#autocomplete').autocomplete({
            source: function (request, autoCompleteResponse) {
                if (request.term.length >= 2) {
                    new Http.Post('/users/search', {login: request.term}).start().then(function (response) {
                        var users = JSON.parse(response);
                        users.forEach(function (user) {
                            user.label = user.firstName + ' ' + user.lastName;
                            user.value = user.login;
                        });
                        autoCompleteResponse(users);
                    });
                }
            },
            select: function (event, object) {
                var membersId = $('#membersId');
                var currentIds = membersId.attr('value');
                if (!currentIds) {
                    membersId.attr('value', object.item.id);
                } else {
                    membersId.attr('value', currentIds + ',' + object.item.id);
                }
                console.log(membersId.val());
                $('#logins').append('<li>' + object.item.login + '</li>');
                $('#autocomplete').attr('value', '');
            }
        });
    }
</script>

</html>