<!DOCTYPE html>
<html>
<head lang="en">
    <title>[[ .Project.Name ]] - Commentaires</title>
    [[ template "layouts/include-css.html" ]]
</head>
<body>
[[ template "layouts/topbar.html" . ]]

<div class="container-fluid">
    [[ if .flash.error ]]
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        [[ .flash.error ]]
    </div>
    [[ end ]]

    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <a href="/projects/[[ .Project.Id ]]">[[ .Project.Name ]]</a>
                </li>
                <li role="presentation" class="active">
                    <a href="/projects/[[ .Project.Id ]]/comments" role="button" data-toggle="modal">
                        <span class="label label-primary">[[ len .Project.Comments ]]</span>
                        Commentaires
                    </a>
                </li>
            </ul>

        </div>
        <div class="panel-body" style="margin: 5px;">
            [[ range $element := .Project.Comments ]]
            <div class="row" style="padding: 5px; border: solid 1px #dddddd; margin-bottom: 1px;">
                <!-- Left part -->
                <div class="col-md-2 text-center" style="background: #eeeeee;">
                    <img onerror="errorImage(this)" class="size" src="[[ $element.Author.Picture ]]">

                    <div>[[ $element.Author.Login ]]</div>
                    <div>
                        [[ datefr $element.Created ]]
                        <span class="btn-group btn-group-xs">
                            [[ if eq $.UserLogged.Id $element.Author.Id ]]
                            <button class="btn btn-warning" data-toggle="modal" data-target="#commentModal"
                                    onclick="openCommentModal('[[ $element.Id ]]')">
                                <span class="fa fa-pencil color-black"></span>
                            </button>
                            [[ end ]]
                        </span>
                    </div>
                </div>
                <!-- End Left part -->

                <!-- Right part -->
                <p class="col-md-10 comment" id="comment-[[ $element.Id ]]">[[ myhtml2str $element.Message ]]</p>
                <!-- End Right part -->

            </div>
            [[ end ]]
            <div class="row" style="padding: 25px;">
                <div class="col-md-2 text-center">
                    <img onerror="errorImage(this)" class="size" src="[[ .UserLogged.Picture ]]">
                </div>
                <form method="post" action="/projects/[[ .Project.Id ]]/comments" class="col-md-10">
                    <input type="hidden" name="projectId" value="[[ .Project.Id ]]">
                    <textarea class="form-control" placeholder="Entrez votre message..."
                              autocomplete="on" spellcheck="true"
                              rows="3" name="message"></textarea>

                    <div class="pull-right" style="margin: 5px;">
                        <button class="btn btn-primary " type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/projects/comments/edit" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Éditer le commentaire</h4>
                </div>
                <div class="modal-body form-group">
                    <input id="comment-edit-id" type="hidden" name="id">
                    <label for="comment-edit-name">Message</label>
                <textarea id="comment-edit-name" class="form-control" placeholder="Entrez votre message..." rows="3"
                          autocomplete="on" spellcheck="true" name="message"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Éditer</button>
                </div>
            </form>
        </div>
    </div>
</div>
[[ template "layouts/include-js.html" ]]

<script src="/static/js/project/comment.js"></script>
</body>

</html>