<!DOCTYPE html>
<html>
<head lang="en">
    <title>[[ .Project.Name ]] - Edition</title>
    [[ template "layouts/include-css.html" ]]
</head>
<body>
[[ template "layouts/topbar.html" . ]]

<div class="container-fluid">
    [[ if .flash.error ]]
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        [[ .flash.error ]]
    </div>
    [[ end ]]

    <div class="panel panel-default">
        <div class="panel-heading">
            Éditer le projet
        </div>
        <div class="panel-body">
            <form method="post" action="/projects/edit">
                <input type="hidden" name="id" value="[[ .Project.Id ]]">

                <div class="form-group">
                    <label for="name">Nom</label>
                    <input class="form-control" placeholder="Name" id="name" name="name" type="text"
                           value="[[ .Project.Name ]]" required="">
                </div>
                <div class="form-group">
                    <label for="shortDescription">Description</label>
                    <input class="form-control" id="shortDescription" placeholder="Description" type="text"
                           name="shortDescription" value="[[ .Project.ShortDescription ]]" required="">
                </div>
                <div class="form-group">
                    <label for="completeDescription">Description détaillée</label>
                    <textarea autocomplete="on" spellcheck="true"
                              class="form-control" id="completeDescription" rows="8" placeholder="Description détaillée"
                              name="completeDescription" required="">[[ .Project.CompleteDescription ]]</textarea>
                </div>
                <div class="form-group">
                    <label for="website">Social</label>
                    <input class="form-control" id="website" placeholder="Social" type="text"
                           value="[[ .Project.Website ]]" name="website">
                </div>
                <div class="form-group">
                    <label for="shortDescription">Dépôt</label>
                    <input class="form-control" id="repository" placeholder="Dépôt" type="text"
                           value="[[ .Project.Repository ]]" name="repository">
                </div>
                <div class="form-group">
                    <label for="managerLogin">Assigner un manager</label>
                    <select class="form-control" id="managerLogin" name="managerLogin">
                        <option>--</option>
                        [[ range $element := .Managers ]]
                        <option [[ if $.Project.IsManager $element.Login ]] selected="selected" [[ end ]]>
                            [[ $element.Login ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Statut</label>
                    <select class="form-control" id="status" name="status">
                        [[ range $element := .Status ]]
                        <option [[ if eq $element $.Project.Status.Name ]] selected="selected" [[ end ]]
                                value="[[ $element ]]">
                            [[ i18n $.Lang $element ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label for="themes">Thèmes</label>
                    <input type="hidden" id="themesId" name="themesId">
                    <select id="themes" class="form-control" multiple="true">
                        <option></option>
                        [[ range $element := .Themes ]]
                        <option [[ if $.Project.HasTheme $element.Id ]] selected="selected" [[ end ]]
                                value="[[ $element.Id ]]">[[ $element.Name ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label for="technos">Technos</label>
                    <input type="hidden" id="technosId" name="technosId">
                    <select id="technos" class="form-control" multiple="true">
                        <option></option>
                        [[ range $element := .Technos ]]
                        <option [[ if $.Project.HasTechno $element.Id ]] selected="selected" [[ end ]]
                                value="[[ $element.Id ]]">[[ $element.Name ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label>Membres</label>
                    <input type="hidden" id="membersId" name="membersId">
                    <input class="form-control" placeholder="Ajouter un membre" type="text" id="autocomplete"/>
                    <ul id="logins" class="list-group">
                        [[ range $element := $.Project.Members ]]
                        <li id="[[ $element.Id ]]" class="list-group-item">
                            <div>
                                <img onerror="errorImage(this)" class="img-responsive size"
                                     src="[[ $element.Picture ]]">
                                [[ $element.Login ]]
                                <span onclick="deleteLogin('[[ $element.Login ]]', '[[ $element.Id ]]')"
                                      class="pull-right glyphicon glyphicon-remove red clickable"></span>
                            </div>
                        </li>
                        [[ end ]]
                    </ul>
                </div>

                <button class="btn btn-primary" type="submit">Éditer le projet</button>
            </form>
        </div>
    </div>
</div>
[[ template "layouts/include-js.html" ]]
<script>$(document).ready(startEditProject);</script>
</body>
</html>
