<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[ .Project.Name ]] - Edition</title>
    [[ template "layouts/include-css.html" ]]
</head>
<body>
[[ template "layouts/topbar.html" . ]]

<div class="container-fluid">
    [[ if .flash.error ]]
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        [[ .flash.error ]]
    </div>
    [[ end ]]

    <div class="panel panel-default">
        <div class="panel-heading">
            Editer le projet
        </div>
        <div class="panel-body">
            <form method="post" action="/projects/edit">
                <input type="hidden" name="id" value="[[ .Project.Id ]]">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" placeholder="Name" id="name" name="name" type="text"
                           value="[[ .Project.Name ]]" required="">
                </div>
                <div class="form-group">
                    <label for="shortDescription">Courte description</label>
                    <input class="form-control" id="shortDescription" placeholder="Courte description" type="text"
                           name="shortDescription" value="[[ .Project.ShortDescription ]]" required="">
                </div>
                <div class="form-group">
                    <label for="completeDescription">Description complete</label>
                    <textarea class="form-control" id="completeDescription" rows="8" placeholder="Description complete"
                              name="completeDescription" required="">[[ .Project.CompleteDescription ]]</textarea>
                </div>

                <div class="form-group">
                    <label for="managerLogin">Assigner un manager</label>
                    <select class="form-control" id="managerLogin" name="managerLogin">
                        <option>--</option>
                        [[ range $element := .Managers ]]
                        <option [[ if $.Project.IsManager $element.Login ]] selected="selected" [[ end ]]>
                            [[ $element.Login ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Status du projet</label>
                    <select class="form-control" id="status" name="status">
                        [[ range $element := .Status ]]
                        <option [[ if eq $element $.Project.Status.Name ]] selected="selected" [[ end ]]
                                value="[[ $element ]]">
                            [[ i18n $.Lang $element ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label for="themes">Themes du projet</label>
                    <input type="hidden" id="themesId" name="themesId">
                    <select id="themes" class="form-control" multiple="true">
                        <option></option>
                        [[ range $element := .Themes ]]
                        <option [[ if $.Project.HasTheme $element.Id ]] selected="selected" [[ end ]]
                                value="[[ $element.Id ]]">[[ $element.Name ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label for="technos">Technos du projet</label>
                    <input type="hidden" id="technosId" name="technosId">
                    <select id="technos" class="form-control" multiple="true">
                        <option></option>
                        [[ range $element := .Technos ]]
                        <option [[ if $.Project.HasTechno $element.Id ]] selected="selected" [[ end ]]
                                value="[[ $element.Id ]]">[[ $element.Name ]]
                        </option>
                        [[ end ]]
                    </select>
                </div>
                <div class="form-group">
                    <label>Membres</label>
                    <input type="hidden" id="membersId" name="membersId">
                    <input class="form-control" placeholder="Ajouter un membre" type="text" id="autocomplete"/>
                    <ul id="logins" class="list-group">
                        [[ range $element := $.Project.Members ]]
                        <li id="[[ $element.Id ]]" class="list-group-item">
                            <div>
                                <img onerror="errorImage(this)" class="img-responsive size" src="[[ $element.Picture ]]">
                                [[ $element.Login ]]
                                <span onclick="deleteLogin('[[ $element.Login ]]', '[[ $element.Id ]]')"
                                      class="pull-right glyphicon glyphicon-remove red clickable"></span>
                            </div>
                        </li>
                        [[ end ]]
                    </ul>
                </div>

                <button class="btn btn-primary" type="submit">Editer le projet</button>
            </form>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(document).ready(start);

    function start() {
        var members = JSON.parse("[[ toJSON .Project.Members ]]");
        var themes = JSON.parse("[[ toJSON .Project.Themes ]]");
        var technos = JSON.parse("[[ toJSON .Project.Technos ]]");
        members.forEach(function (member) {
            addMember(member.id);
        });
        themes.forEach(function (theme) {
            addTheme(theme.id);
        });
        technos.forEach(function (techno) {
            addTechno(techno.id);
        });
        var themesSelect = $('#themes');
        themesSelect.select2({
            placeholder: 'Themes',
            tags: true
        });
        themesSelect.on('select2:select', function (event) {
            addTheme(event.params.data.id);
        });
        themesSelect.on('select2:unselect', function (event) {
            var themeSelect = $('#themesId');
            var currentIds = themeSelect.attr('value');
            var ids = currentIds.split(',');
            for (var i = 0; i < ids.length; ++i) {
                if (event.params.data.id === ids[i]) {
                    ids.splice(i, 1);
                    break
                }
            }
            themeSelect.attr('value', ids.join());
        });

        var technoSelect = $('#technos');
        technoSelect.select2({
            placeholder: 'Technos',
            tags: true
        });
        technoSelect.on('select2:select', function (event) {
            addTechno(event.params.data.id);
        });
        technoSelect.on('select2:unselect', function (event) {
            var technoSelect = $('#technosId');
            var id = technoSelect.attr('value');
            var currentIds = id.split(',');
            for (var i = 0; i < currentIds.length; ++i) {
                if (event.params.data.id === currentIds[i]) {
                    currentIds.splice(i, 1);
                    break
                }
            }
            technoSelect.attr('value', currentIds.join());
        });

        $('#autocomplete').autocomplete({
            source: function (request, autoCompleteResponse) {
                if (request.term.length >= 2) {
                    new Http().Post('/users/search', {login: request.term}).success(function (users) {
                        var currentIds = $('#membersId').attr('value');
                        var arrayIds;
                        if (currentIds) {
                            arrayIds = currentIds.split(',');
                        }
                        for (var i = 0; i < users.length; ++i) {
                            var user = users[i];
                            // If the user is already is the project, removes it.
                            if (arrayIds && ~arrayIds.indexOf(String(user.id)) !== 0) {
                                users.splice(i, 1);
                                continue;
                            }
                            user.label = user.firstName + ' ' + user.lastName;
                            user.value = user.login;
                        }
                        autoCompleteResponse(users);
                    });
                }
            },
            select: function (event, object) {
                addMember(object.item.id);
                $('#logins').append(generateListItem(object.item));
                $('#autocomplete').val('');
                return false;
            }
        });
    }

    function generateListItem(user) {
        var deleteButton = '<span ' + 'onclick="deleteLogin(\'' + user.login + '\', \'' + user.id + '\')"' + 'class="pull-right glyphicon glyphicon-remove red clickable"></span>';
        var image = '<img class="img-responsive" src="' + user.picture + '">';
        return '<li id="' + user.login + '" class="list-group-item"><div>' + image + user.login + deleteButton + '</div></li>';
    }

    function addMember(id) {
        var membersId = $('#membersId');
        var currentIds = membersId.attr('value');
        if (!currentIds) {
            membersId.attr('value', id);
        } else {
            membersId.attr('value', currentIds + ',' + id);
        }
    }

    function addTheme(id) {
        var themeSelect = $('#themesId');
        var currentIds = themeSelect.attr('value');
        if (!currentIds) {
            themeSelect.attr('value', id);
        } else {
            themeSelect.attr('value', currentIds + ',' + id);
        }
    }

    function addTechno(id) {
        var technoSelect = $('#technosId');
        var currentIds = technoSelect.attr('value');
        if (!currentIds) {
            technoSelect.attr('value', id);
        } else {
            technoSelect.attr('value', currentIds + ',' + id);
        }
    }

    function deleteLogin(login, id) {
        var membersId = $('#membersId');
        var currentIds = membersId.attr('value');
        var ids = currentIds.split(',');
        for (var i = 0; i < ids.length; ++i) {
            if (ids[i] === id) {
                ids.splice(i, 1);
            }
        }
        membersId.attr('value', ids);
        $('#' + id).remove();
    }
</script>

</body>
</html>