<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Liste des Projets</title>
</head>
<body>
<a href="/projects/add">Creer un projet</a>
{{ .PaginatedItems.TotalItemCount }} projets en tout<br/>
{{ .PaginatedItems.ItemCount }} projets affiches<br/>
page {{ .PaginatedItems.CurrentPage }}<br/>
{{ .PaginatedItems.TotalPageCount }} pages en tout <br/>
{{ range $element := .PaginatedItems.Items }}
    {{ $element }}
{{ end }}

{{ if .HasPreviousPage }}
    <a href="/projects?page={{ decr .PaginatedItems.CurrentPage }}&limit={{ .Limit }}">Page precedente</a>
{{ end }}
{{ if .HasNextPage }}
    <a href="/projects?page={{ incr .PaginatedItems.CurrentPage }}&limit={{ .Limit }}">Page suivante</a>
{{ end }}
{{ .flash.error }}

</body>
</html>