<!DOCTYPE html>
<html>
<head lang="en">
    <title>[[ .Project.Name ]]</title>
    <link rel="import" href="/static/bower_components/paper-toolbar/paper-toolbar.html">
    [[ template "layouts/include-css.html" ]]
</head>

<body>
[[ template "layouts/topbar.html" . ]]

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading link-top">
            <a href="/projects?page=1&limit=15">
                <span class="fa fa-chevron-left">Liste des projets</span>
            </a>
            [[ if .UserLogged.IsManager ]]
            <a href="/projects/edit/[[ .Project.Id ]]" class="pull-right">
                <span class="fa fa-pencil">Éditer</span>
            </a>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="/projects/[[ .Project.Id ]]">[[ html2str .Project.Name ]]</a>
                </li>
                <li role="presentation">
                    <a href="/projects/[[ .Project.Id ]]/comments" role="button" data-toggle="modal">
                        <span class="label label-primary">[[ len .Project.Comments ]]</span>
                        Commentaires
                    </a>
                </li>
            </ul>
            [[ end ]]
        </div>
        <div class="panel-body">
            <div class="col-lg-10">
                <paper-toolbar>
                    <span class="project-title">[[ .Project.Name ]]</span>
                    <span class="flex"></span>
                    [[ if .Project.Website ]]
                    <a href="[[ .Project.Website ]]" style="margin-right: 1%" target="_blank"><span
                            class="fa fa-2x fa-globe white"></span></a>
                    [[ end ]]
                    [[ if .Project.Repository ]]
                    <a href="[[ .Project.Repository ]]" target="_blank"><span
                            class="fa fa-2x fa-github white"></span></a>
                    [[ end ]]
                </paper-toolbar>
                <div class="project-info">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td>Statut</td>
                                [[ if .Project.Manager ]]
                                <td>Manager</td>
                                [[ end ]]
                                [[ if .Project.Themes ]]
                                <td>Thèmes</td>
                                [[ end ]]
                                [[ if .Project.Technos ]]
                                <td>Technos</td>
                                [[ end ]]
                            </tr>
                            </thead>
                            <tr>
                                <td>[[ i18n $.Lang .Project.Status.Name ]]</td>
                                [[ if .Project.Manager ]]
                                <td>
                                    <a href="/users/[[ html2str .Project.Manager.Login ]]">[[ html2str .Project.Manager.Login ]]</a>
                                </td>
                                [[ end ]]
                                [[ if .Project.Themes ]]
                                <td>
                                    [[ range $element := .Project.Themes ]]
                                    <span class="label label-[[ randLabel ]]">[[ html2str $element.Name ]]</span>
                                    [[ end ]]
                                </td>
                                [[ end ]]
                                [[ if .Project.Technos ]]
                                <td>
                                    [[ range $element := .Project.Technos ]]
                                    <span class="label label-[[ randLabel ]]">[[ html2str $element.Name ]]</span>
                                    [[ end ]]
                                </td>
                                [[ end ]]
                            </tr>
                        </table>
                    </div>
                    <div class="project-desc">
                        <h5>Description</h5>

                        <p id="short-description">[[ html2str .Project.ShortDescription ]]</p>

                        <p id="description">[[ myhtml2str .Project.CompleteDescription ]]</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                [[ if .Project.Members ]]
                <paper-toolbar>
                    <div style="font-size: 1.4em">
                        Membres
                    </div>
                </paper-toolbar>
                <ul class="list-group">
                    [[ range $element := .Project.Members ]]
                    <li class="list-group-item text-center"
                        title="[[ $element.Promotion.Name ]]" data-toggle="tooltip"
                        data-placement="bottom">
                        <img onerror="errorImage(this)" class="size" src="[[ html2str $element.Picture ]]">

                        <div>
                            <a href="/users/[[ $element.Login ]]"> [[ html2str $element.Name ]]</a>
                        </div>

                    </li>
                    [[ end ]]
                </ul>
                [[ end ]]
            </div>
        </div>
    </div>
</div>
</body>

<script>
    function start() {
        var converter = new showdown.Converter();
        var descSelector = $('#description');
        var text = descSelector.text();
        var html = converter.makeHtml(text);
        descSelector.html(html);
    }
    $('document').ready(start);

</script>
</html>
