<!DOCTYPE html>
<html>
<head lang="en">
    <title>[[ i18n .Lang "TITLE" ]]</title>
    [[ template "layouts/include-css.html" ]]
</head>
<body class="login-page">
<div class="container">

    <form id="myform" class="form-signin" method="post" action="/users/activate/[[ .Id ]]/[[ .Token ]]">
        <h1>
            <img width="250px" src="http://epitech.github.io/hub/img/hub-white-1600.png">
        </h1>
        <input id="p" type="password" class="form-control" placeholder="Password" required="" autofocus="">
        <input id="p2" type="password" class="form-control" placeholder="Check Password" required="" name="password">
        <button id="button" class="btn btn-lg btn-primary btn-block" type="button" onclick="resetPassword()">
            Set password
        </button>
    </form>

</div>
[[ template "layouts/include-js.html" ]]
<script src="/static/js/user/reset-password.js"></script>
</body>

</html>
