<div class="input-group">
    <input id="skill" name="name" onkeypress="if (event.keyCode === 13) {addSkill()}" placeholder="Skill" type="text"
           class="form-control">

    <div class="input-group-btn">
        <button onclick="addSkill()" class="btn btn-success">Ajouter un Skill</button>
    </div>
</div>


<ul id="list-skills" class="list-group">
    [[ if not .Skills ]]
    <li class="list-group-item active" id="empty">0 skills</li>
    [[ end ]]
    [[ range $index, $element := .Skills ]]
    <li class="list-group-item" id="[[ $element.Id ]]">
        <span id="skill-[[ $element.Id ]]" class="label label-[[ randLabel ]] s-1x">[[ $element.Name ]]</span>
        <span class="pull-right">
            <span class="btn-group btn-group-xs">
                <button class="btn btn-warning" data-toggle="modal" data-target="#skillModal"
                        onclick="openSkillModal('[[ $element.Id ]]')">
                    <span class="fa fa-pencil color-black"></span>
                </button>
                <button class="btn btn-danger" onclick="deleteSkill([[ $element.Id ]])"><span
                        class="fa fa-remove color-white"></span></button>
            </span>
        </span>
    </li>
    [[ end ]]
</ul>

<div class="modal fade" id="skillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Éditer le skill</h4>
            </div>
            <div class="modal-body form-group">
                <input id="skill-edit-id" type="hidden">
                <label for="skill-edit-name">Nom</label>
                <input id="skill-edit-name" class="form-control" type="text" placeholder="Nom">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" onclick="editSkill()">Éditer</button>
            </div>
        </div>
    </div>
</div>

<script>

    function openSkillModal(id) {
        $('#skill-edit-name').val($('#skill-' + id).html());
        $('#skill-edit-id').val(id)
    }

    function editSkill() {
        var obj = {
            id: parseInt($('#skill-edit-id').val()),
            name: $('#skill-edit-name').val()
        };
        if (obj.name === '') {
            return;
        }
        new Http().Put('/skills', obj).success(function (skill) {
            $('#skill-' + skill.id).html(skill.name);
            $('#skillModal').modal('hide');
        });
    }

    function addSkill() {
        var th = $('#skill');
        var skillName = th.val().trim();
        if (skillName === '') {
            return;
        }
        th.val('');
        new Http().Post('/skills', {name: skillName}).success(function (skill) {
            appendSkill(skill);
            $('#empty').hide();
        });
    }

    function appendSkill(skill) {
        $('#list-skills').append('<li class="list-group-item" id="' + skill.id + '"><span class="label label-' + randomizeLabel() +
                ' s-1x" >' + skill.name + '</span>' +
                '<span class="pull-right"><span class="btn-group btn-group-xs">' +
                '<button class="btn btn-danger" onclick=deleteSkill(' + skill.id + ')><span class="fa fa-remove color-white"></span></button>' +
                '<span/><span/></li> ');
    }

    function deleteSkill(id) {
        new Http().Delete('/skills/' + id).success(function () {
            $('#' + id).remove();
        });
    }
</script>
