<div class="input-group">
    <input id="techno" name="name" onkeypress="if (event.keyCode === 13) {addTechno()}" placeholder="Techno" type="text"
           class="form-control">

    <div class="input-group-btn">
        <button onclick="addTechno()" class="btn btn-success">Ajouter une Techno</button>
    </div>
</div>


<ul id="list-technos" class="list-group">
    {{ if not .Technos }}
    <li class="list-group-item active" id="empty">0 technos</li>
    {{ end }}
    {{ range $index, $element := .Technos }}
    <li class="list-group-item" id="{{ $element.Id }}">
        <span class="label label-{{ randLabel }} s-1x">{{ $element.Name }}</span>
        <span class="pull-right">
            <span class="btn-group btn-group-xs">
                <button class="btn btn-danger" onclick="deleteTechno({{ $element.Id }})"><span
                        class="fa fa-remove color-white"></span></button>
            </span>
        </span>
    </li>
    {{ end }}
</ul>

<script>
    function addTechno() {
        var th = $('#techno');
        var technoName = th.val().trim();
        if (technoName === '') {
            return;
        }
        th.val('');
        new Http().Post('/technos', {name: technoName}).success(function (techno) {
            $('#list-technos').append('<li class="list-group-item" id="' + techno.id + '"><span class="label label-' + randomizeLabel() +
                    ' s-1x" >' + techno.name + '</span>' +
                    '<span class="pull-right"><span class="btn-group btn-group-xs">' +
                    '<button class="btn btn-danger" onclick=deleteTechno(' + techno.id + ')><span class="fa fa-remove color-white"></span></button>' +
                    '<span/><span/></li> ');
            $('#empty').hide();
        });
    }

    function deleteTechno(id) {
        new Http().Delete('/technos/' + id).success(function () {
            $('#' + id).remove();
        });
    }
</script>