<div class="input-group">
    <input id="theme" name="name" onkeypress="if (event.keyCode === 13) {addTheme()}" placeholder="Theme" type="text"
           class="form-control">

    <div class="input-group-btn">
        <button onclick="addTheme()" class="btn btn-success">Ajouter un Theme</button>
    </div>
</div>


<ul id="list" class="list-group">
    [[ if not .Themes ]]
    <li class="list-group-item active" id="empty">0 themes</li>
    [[ end ]]
    [[ range $index, $element := .Themes ]]
    <li class="list-group-item" id="[[ $element.Id ]]">
        <span id="theme-[[ $element.Id]]" class="label label-[[ randLabel ]] s-1x">[[ $element.Name ]]</span>
        <span class="pull-right">
            <span class="btn-group btn-group-xs">
                <button class="btn btn-warning" data-toggle="modal" data-target="#themeModal"
                        onclick="openThemeModal('[[ $element.Id ]]')">
                    <span class="fa fa-pencil color-black"></span>
                </button>
                <button class="btn btn-danger" onclick="deleteTheme([[ $element.Id ]])"><span
                        class="fa fa-remove color-white"></span></button>
            </span>
        </span>
    </li>
    [[ end ]]
</ul>

<div class="modal fade" id="themeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Éditer le thème</h4>
            </div>
            <div class="modal-body form-group">
                <input id="theme-edit-id" type="hidden">
                <label for="theme-edit-name">Nom</label>
                <input id="theme-edit-name" class="form-control" type="text" placeholder="Nom">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" onclick="editTheme()">Éditer</button>
            </div>
        </div>
    </div>
</div>

<script>

    function openThemeModal(id) {
        $('#theme-edit-name').val($('#theme-'+id).html());
        $('#theme-edit-id').val(id)
    }

    function editTheme() {
        var obj = {
            id: parseInt($('#theme-edit-id').val()),
            name: $('#theme-edit-name').val()
        };
        if (obj.name === '') {
            return;
        }
        new Http().Put('/themes', obj).success(function (theme) {
            $('#theme-' + theme.id).html(theme.name);
            $('#themeModal').modal('hide');
        });
    }

    function addTheme() {
        var th = $('#theme');
        var themeName = th.val().trim();
        if (themeName === '') {
            return;
        }
        th.val('');
        new Http().Post('/themes', {name: themeName}).success(function (theme) {
            appendTheme(theme);
            $('#empty').hide();
        });
    }

    function appendTheme(theme) {
        $('#list').append('<li class="list-group-item" id="' + theme.id + '"><span class="label label-' + randomizeLabel() +
                ' s-1x" >' + theme.name + '</span>' +
                '<span class="pull-right"><span class="btn-group btn-group-xs">' +
                '<button class="btn btn-danger" onclick=deleteTheme(' + theme.id + ')><span class="fa fa-remove color-white"></span></button>' +
                '<span/><span/></li> ');
    }

    function deleteTheme(id) {
        new Http().Delete('/themes/' + id).success(function () {
            $('#' + id).remove();
        });
    }
</script>
