<!DOCTYPE html>
<html>
<head lang="en">
    <title>Validation de Projets</title>
    <link rel="import" href="/static/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/static/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/static/bower_components/paper-fab/paper-fab.html">

    [[ template "layouts/include-css.html" ]]
</head>

<body>
[[ template "layouts/topbar.html" . ]]

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li id="indeterminate" role="presentation" class="active">
                    <a href="/pedago/validation/indeterminate" role="button" data-toggle="modal">
                        Étudiants à valider
                    </a>
                </li>
                <li id="validated" role="presentation">
                    <a href="/pedago/validation/validated" role="button" data-toggle="modal">
                        Étudiants validés
                    </a>
                </li>
                <li id="refused" role="presentation">
                    <a href="/pedago/validation/refused" role="button" data-toggle="modal">
                        Étudiants refusés
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <form is="iron-form" id="form" method="post">
                <div class="table-responsive">
                    <paper-fab class="pull-right" icon="check" style="background: #2196F3; color: white;"
                               onclick="validateProjects()">
                    </paper-fab>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <td>Étudiant</td>
                            <td>Promotion</td>
                            <td>Projet</td>
                            <td>Validation</td>
                        </tr>
                        </thead>
                        [[ range $element := .UserProjects ]]

                        <tr>
                            <input type="hidden" name="userIds" value="[[ $element.User.Id ]]">
                            <td><a href="/users/[[ $element.User.Login ]]">[[ $element.User.Login ]]</a></td>
                            <input type="hidden" name="projectIds" value="[[ $element.Project.Id ]]">
                            <td>[[ $element.User.Promotion.Name ]]</td>
                            <td><a href="/projects/[[ $element.Project.Id ]]">[[ $element.Project.Name ]]</a></td>
                            <td>
                                <select id="validation-select" class="form-control" name="validation">
                                    <option value="1" [[ if eq $element.PedagogicallyValidated 1 ]] selected="selected"
                                            [[ end ]]>
                                        Indeterminé
                                    </option>
                                    <option value="0" [[ if eq $element.PedagogicallyValidated 0 ]] selected="selected"
                                            [[ end ]]>
                                        Refusé
                                    </option>
                                    <option value="2" [[ if eq $element.PedagogicallyValidated 2 ]] selected="selected"
                                            [[ end ]]>
                                        Accepté
                                    </option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>
                        [[ end ]]
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function validateProjects() {
        var form = document.getElementById('form');
        form.action = '/pedago/validate';
        form.submit();
        window.location.reload();
    }

    function switchTabs() {
        var path = window.location.pathname;
        var indeterminate = $('#indeterminate');
        var refused = $('#refused');
        var validated = $('#validated');
        indeterminate.removeClass('active');
        refused.removeClass('active');
        validated.removeClass('active');
        if (~path.indexOf('indeterminate') !== 0) {
            indeterminate.addClass('active');
        } else if (~path.indexOf('refused') !== 0) {
            refused.addClass('active');
        } else {
            validated.addClass('active');
        }
    }
    $('document').ready(switchTabs());
</script>
</html>
